body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #fbe5bf;
	color: #5c4339;
}

.container {
	text-align: center;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.number-container {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
	background-color: #5c4339;
	color: #fbe5bf;
	padding: 0.6rem 1rem;
	border: none;
	border-radius: 8px;
	font-size: 1.2rem;
	cursor: pointer;
	font-weight: bold;
}

button:hover {
	background-color: #4d3b32;
}

footer {
	background-color: #5c4339;
	width: 100%;
	text-align: center;
	padding: 1rem 0;
}

h4 {
	font-family:'Times New Roman', Times, serif ;
	font-weight: bold;
	font-size: 1.3rem;
	color: #fbe5bf;
	margin: 0;
	
}

a {
	text-decoration: none;
	color: #8FB8DE;
}
